
.navbar {
    background-color: #ff6347;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 8vh;
    font-family: 'PokemonFontSolid', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    
}

ul {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1vw;
    color: white;
      
}

.nav_a {
    text-decoration: none; 
    color: #ffffff; 
    font-weight: bold; 
    font-size: 3vw;
    display: inline-block; /* makes transforms possible*/
    transition: transform 0.2s ease, color 0.2s ease; 
  }
  
  .nav_a:hover {
    cursor: pointer;
    color: #ffffff; 
    transform: scale(1.1); 
  }
  
  .nav_a:visited {
    color: #ffffff; 
  }
  
  .nav_a:active {
    /* transform: scale(0.95);  */
    color: #ffffff; 
  }
  
