

.play-game-page {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../assets/paws.jpg');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
    margin: 0;
    font-family: 'PokemonFontSolid', sans-serif; 

    .box {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2vw;
    };
}


.pokemon-theme {
    width: 80vw;
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7c8c8;
    padding: 1vw;
    border-radius: 15px;
    box-sizing: border-box;  
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    /* margin-bottom: 3vw; */
}

h1 {
    font-family: 'PokemonFontSolid', Arial, sans-serif;
    font-weight: bold; 
    font-size: 4vw;
    color: #ffffff; 
    /* margin-bottom: 20px; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 1px rgb(211, 207, 207);
    /* margin-top: 40px; */
    padding-top: 3vw;
}




.start-button {
    /* margin-top: 15px; */
    text-align: center;
    background-color: #ff6347;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px;
    padding: 1vw;
    margin-top: 2vw;
    font-family: 'PokemonFontSolid', Arial, sans-serif;
    font-size: 3vw;
    cursor: pointer;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 2px rgba(70, 0, 0, 0.155);
}

.start-button:hover {
    background-color: #e0533b;
}
.start-button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.corgi_G {
    width: 20vw;
    height: auto;
    margin-bottom: -7vw;
    margin-left: 50vw;
    rotate: 10deg;
    z-index: 2;
    /* position: absolute;
    top: 47%;
    left: 80%;
    transform: translate(-100%, -50%); */
};



/* @media (min-width: 768px) and (max-width: 979px) {
  .pokemon-theme {
    padding: 20px;  
    margin-top: 10px; 
    width: 90%;
}
}

@media (max-width: 768px) {
    .pokemon-theme {
        padding: 15px; 
        margin-top: 10px; 
        width: 90%;
    }

    h1 {
        font-size: 2rem;  
    }

    .start-button {
        padding: 12px 15px; 
        font-size: 1.1rem;  
    }
   }

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;  
    }

    .start-button {
        padding: 10px 10px;  
        font-size: 1rem;  
    }

    .pokemon-theme {
        padding: 10px; 
        width: 85%;  
        margin-top: 10px;
    }
}

@media (max-width: 320px) {
    .pokemon-theme {
        padding: 8px;  
        width: 85%;  
    }

    h1 {
        font-size: 1.5rem;  
    }

    .start-button {
        padding: 5px 10px; 
        font-size: 0.9rem; 
    }
} */
